
/* --------------------------------------------
# General
---------------------------------------------- */

body {
    background-color: #212122;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.name {
    color: #EFEEEC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.name h1 {
    color: #212122;
    font-weight: bold;
    padding-inline: 10px;
    background-color: #EFEEEC;
    text-align: center;
}

.container {
    position: relative;
    color: #EFEEEC;
    text-align: center;
}


.navbar {
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    border-top: 1px solid #EFEEEC;
    border-bottom: 1px solid #EFEEEC;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    border-top: none;
    background: #efeeec;
}

/* .nav {
    padding-top: 3px;
    padding-bottom: 3px;
} */

.navbar ol {
    list-style-type: none; /* ul에서 리스트 앞의 점 없애주기*/
    padding-inline: 60px;
    margin-block: 12px;
    display: flex;
}

.nav .nav-item {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.nav .nav-item a {
    color: #efeeec;
    font-weight: 500;
  }

.nav .nav-item a::after {
    display: inline-block;
    color: #000;
    font-size: 50%;
    padding: 0 3px;
}

@media (min-width: 768px) {
    .navbar ul {
        /* flex-flow: row nowrap; */
        flex-direction: row;
        /* justify-content: flex-start; */
    }
}

