

/* --------------------------------------------
# Rooms
---------------------------------------------- */

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 100px;
}

.box {
    padding-top: 30px;
    width: 20%;
}
 
.box-content-container ::after {
    padding: 0.01em 16px;
    float: left;
}

.box .box-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #EFEEEC;
}

.box-img {
    width: 100%;
} 