<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pms.dao.CommentDao">

  <resultMap type="comment" id="CommentMap">
    <id column="commentNo"           property="commentNo"/>
    <result column="content"  property="content"/>
    <result column="cdt"  property="createdDate"/>
    <result column="mdt"  property="modifiedDate"/>
  
  <association property="writer" javaType="user">
      <id column="writer_no"        property="userNo"/>
      <result column="writer_nick"  property="nick"/>
    </association>
  
  </resultMap>

  <select id="findAll" resultMap="CommentMap" parameterType="map">
    select 
      commentNo,
      u.userNo writer_no,
      u.nick writer_nick,
      content, 
      cdt,
      mdt
    from 
      pms01_comment c
      inner join pms01_user u on c.userNo = u.userNo
  </select>
  

<!-- 
  
  <select id="count" resultType="int" parameterType="string">
    select 
      count(*)
    from 
      oi_user
    <if test="keyword != null">
    <bind name="pattern" value="'%' + keyword + '%'" />
    where 
      name like #{pattern}
      or nick like #{pattern}
    </if>
  </select>
  
  <select id = "findByNo" resultMap ="UserMap" parameterType="int">
    select
      uno,
      utype, 
      point, 
      name,
      nick, 
      email,
      tel,
      password,
      postno,
      addr,
      det_addr,
      photo
    from
      oi_user
    where
      uno = #{no}
  </select>
  
  <update id="update" parameterType="user">
    update oi_user 
    <set>
      <if test="nick != null">nick = #{nick},</if>
      <if test="userTypeNo != null">utype = #{userTypeNo},</if>
      <if test="password != null">password = password(#{password}),</if>
      <if test="postNo != null">postno = #{postNo},</if>
      <if test="address != null">addr = #{address},</if>
      <if test="detailAddress != null">det_addr = #{detailAddress},</if>
      <if test="photo != null">photo = #{photo}</if>
      <if test="tel != null">tel = #{tel}</if>
    </set>
    where
    uno = #{userNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from oi_user
    where no = #{no}
  </delete>
  
  <select id="findByEmailPassword" parameterType="map" resultMap="UserMap">
    select
      uno,
      name,
      nick,
      tel,
      email,
      point,
      postno,
      addr,
      det_addr,
      photo,
      utype
    from
      oi_user
    where
      email = #{email}
      and password = password(#{password})
  </select>

  <insert id="insert" parameterType="user">
    insert into oi_user(name,email,tel,password,photo,nick,point,utype) 
    values(#{name},#{email},#{tel},password(#{password}),#{photo},#{nick},0,0)
  </insert>
  
   -->  
  
</mapper>






